/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[tblRestaurantID]
      ,[tblMenuID]
      ,[Price]
      ,[FromDate]
      ,[ToDate]
      ,[Discount]
      ,[UserCreated]
      ,[UserModified]
      ,[RecordTimeStamp]
      ,[RecordTimeStampCreated]
  FROM [RestaurantManagement].[dbo].[tblOffer]

  SELECT TOP 1000 [ID]
      ,[Item]
      ,[tblCuisineID]
      ,[UserCreated]
      ,[UserModified]
      ,[RecordTimeStamp]
      ,[RecordTimeStampCreated]
      ,[Quantity]
  FROM [RestaurantManagement].[dbo].[tblMenu]
  SELECT TOP 1000 [ID]
      ,[Name]
      ,[tblLocationID]
      ,[ContactNo]
      ,[UserCreated]
      ,[UserModified]
      ,[RecordTimeStamp]
      ,[RecordTimeStampCreated]
      ,[Address]
      ,[Website]
      ,[OpeningTime]
      ,[CloseTime]
  FROM [RestaurantManagement].[dbo].[tblRestaurant]
  SELECT TOP 1000 [ID]
      ,[Cuisine]
      ,[UserCreated]
      ,[UserModified]
      ,[RecordTimeStamp]
      ,[RecordTimeStampCreated]
  FROM [RestaurantManagement].[dbo].[tblCuisine]
