/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[Name]
  FROM [ReviewManagement].[dbo].[tblRestaurant]

  insert into [ReviewManagement].[dbo].[tblRestaurant] values ('Ambica')
    insert into [ReviewManagement].[dbo].[tblRestaurant] values ('SaiBaba')
